header{
    display: flex;
    justify-content: space-between;
    background-color: #03A2FD;
    box-shadow: 2px 2px 3px 1px grey;
    padding: 0 13px;
    align-items: center;
    
}
h2{
    color: ghostwhite;
}
.pageTitle{
    margin-left: 99px;
}

button{
    margin: 0;
}