<div style=" width: 100%; text-align: center; position: static; margin-bottom: 1px; height: 200px; padding: 20px;">

  <img src="assets/coupony.png" class="animated fadeIn faster" style="margin-right: 40px">
  <br>
</div>

<div style="position: absolute; text-align: center; width: 100%; border-radius: 20px;">
  <ul class="login-div fade-in-left">

    <br>
    <input type="text" placeholder="username" style=" height: 25px;">
    <br>
    <br>
    <input type="password" placeholder="password" style=" height: 25px;">

    <br>
    <br>
    <select style=" height: 25px;">
      <option>Admin</option>
      <option>Company</option>
      <option>Customer</option>
    </select>
  </ul>
  <br>
  <button class="login">
    Log In
  </button>

  <button (click)="backClicked()">
    Cancel
  </button>
</div>