<div style=" width: 100%; text-align: center; position: static; margin-bottom: 1px; height: 200px; padding: 20px;">

  <img src="assets/coupony.png" class="animated fadeIn faster" style="margin-right: 40px">
  <br>
</div>

<div style="position: absolute; text-align: center; width: 100%; border-radius: 20px;">

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <ul class="login-div fade-in-left">
      <br>
      <input name="name" type="text" placeholder="username" style=" height: 25px;" (ngModel)="username" required>
      <br>
      <br>
      <input name="password" type="password" placeholder="password" style=" height: 25px;" (ngModel)="password"
        required>

      <br>
      <br>
      <select style=" height: 25px;" name="type" (ngModel)="loginType" required>
        <option value="null" selected disabled>Login as:</option>
        <option>Admin</option>
        <option>Company</option>
        <option>Customer</option>
      </select>

    </ul>
    <br>
    <button type="submit" class="login" [disabled]="!loginForm.form.valid">
      Log In
    </button>

  </form>
  <button (click)="backClicked()">
    Cancel
  </button>
</div>