<div class="sortBy">

  <select style="width: 150px">
    <option value="" disabled selected>Price</option>
    <option (click)="sortByPrice('HTL')">Highest To Lowest ↓</option>
    <option (click)="sortByPrice('LTH')">Lowest To Highest ↑</option>


  </select>
  <select style="width: 150px">
    <option value="" disabled selected>Category</option>
    <option *ngFor="let type of couponType; let i=index;" (click)="sortBy=type">
      {{type | titlecase}}
    </option>

  </select>
  <span style="float: inline-end; margin-right: 5px">Sort By:</span>

</div>



<ul>
  <ng-container *ngFor="let coupon of coupons">
    <div *ngIf="coupon.type==sortBy || sortBy==couponType[0]" class="coupon">
      <div class="couponPicture">
        <img src="https://www.dw.com/image/48396304_303.jpg">
        <span>{{ coupon.startDate | date }}</span>
      </div>
      <div class="couponBody">{{coupon.title}}
        <p>this is a line short enough to fit in I think and if notell itaiojgiagnaingsiang ain ell itaiojgiagnaingsiang
          ain ell itaiojgiagnaingsiang ain well itaiojgiagnaingsiang aingiangs iansg iang .</p>
        <a>...</a>
      </div>
    </div>
  </ng-container>

</ul>