<div class="sortBy">

  <select style="width: 150px">
    <option>Restaurants</option>
    <option>Camping</option>
    <option>Leisure</option>
    <option>Avatiah</option>
  </select>

  <span style="float: inline-end; margin-right: 5px">Sort By:</span>
</div>



<ul>
  <div *ngFor="let item of items" class="coupon">
    <img
      src="https://www.bowlbrunswick.com/sites/brunswick/files/styles/xl_responsive/public/Traditional_PartiesHeroModules_750x1000_2x.jpg?itok=QffFcR-4">
    <div class="couponBody">Title
      <p class="elips">aogfjnagjangk navkanvakn akn akn knaogfjnagjangk navkanvakn akn akn knaogfjnagjangk navkanvakn
        akn
        akn
        knaogfjnagjangk navkanvakn akn akn knaogfjnagjangk navkanvakn akn akn kn k n</p>
      <a>...</a>
    </div>
  </div>


</ul>